MISTRAL_API_KEY=
CCO_MODEL_EVAL=codestral-latest
CCO_MODEL_LIGHT=ministral-8b-latest
CCO_MODEL_EMBED=mistral-embed

LEGIFRANCE_CLIENT_ID=
LEGIFRANCE_CLIENT_SECRET=
LEGIFRANCE_OAUTH_URL=https://oauth.piste.gouv.fr/api/oauth/token
LEGIFRANCE_API_URL=https://api.piste.gouv.fr/dila/legifrance/lf-engine-app
